
basics.py
demovideos/correctsquat.mp4
demovideos/squat.mp4
demovideos/walking backside.mp4
demovideos/walking backside2.mp4
demovideos/wrongsquat.mp4
designdoc/posetest.jpeg
designdoc/reach123_virtualtrainer.jpg
designdoc/Squat Angle and positioning Videos.docx
dinchakdinchak/1808.07371.pdf
frontvideo.mp4
HandPoseModule.py
HeadPoseModule.py
test.py
testsss.py
testttt.py
video_intk_window.py
